aerich==0.7.2
aiofiles==23.2.1
aiohttp==3.8.4
aiomysql==0.2.0
aiosignal==1.3.1
aiosqlite==0.17.0
altgraph==0.17.4
annotated-types==0.6.0
anyio==3.6.2
argcomplete==3.0.8
astroid==2.15.0
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
auto-py-to-exe==2.43.2
autopep8==1.6.0
av==11.0.0
backcall==0.2.0
beautifulsoup4==4.12.2
bidict==0.22.1
black==23.3.0
bleach==6.1.0
blinker==1.6.2
bottle==0.12.25
bottle-websocket==0.2.9
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
coloredlogs==15.0.1
coverage==7.2.3
cssselect==1.2.0
ctranslate2==4.1.0
dataclasses-json==0.5.7
decorator==5.1.1
defusedxml==0.7.1
dictdiffer==0.9.0
dill==0.3.6
distlib==0.3.6
dnspython==2.3.0
docker==6.0.1
docopt==0.6.2
docstring-to-markdown==0.11
duckduckgo-search==2.8.6
edge-tts==6.1.7
Eel==0.16.0
exceptiongroup==1.1.1
executing==1.2.0
faster-whisper==1.0.1
fastjsonschema==2.19.1
ffmpeg-python==0.2.0
filelock==3.11.0
flake8==6.0.0
Flask==2.3.2
Flask-SocketIO==5.3.5
flatbuffers==24.3.25
frozenlist==1.3.3
fsspec==2024.3.1
future==0.18.3
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==2.85.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.59.0
greenlet==3.0.3
grpcio==1.51.3
grpcio-tools==1.51.3
gTTS==2.3.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httplib2==0.22.0
httpx==0.24.0
huggingface-hub==0.22.1
humanfriendly==10.0
hypercorn==0.14.3
hyperframe==6.0.1
identify==2.5.22
idna==3.4
iniconfig==2.0.0
install==1.3.5
ipython==8.12.3
iso8601==1.1.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
langchain==0.0.120
lazy-object-proxy==1.9.0
llama-index==0.4.35.post1
llvmlite==0.40.1
loguru==0.7.0
lxml==4.9.2
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mistune==3.0.2
more-itertools==10.0.0
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==7.16.2
nbformat==5.10.3
networkx==3.1
nodeenv==1.7.0
numba==0.57.1
numpy==1.24.4
onnxruntime==1.17.1
openai==0.27.4
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
opencv-python==4.7.0.72
orjson==3.8.10
outcome==1.2.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.1
parso==0.8.3
pathspec==0.11.1
pefile==2023.2.7
pickleshare==0.7.5
Pillow==9.5.0
pinecone-client==2.2.1
pipreqs==0.5.0
pipx==1.2.0
platformdirs==3.1.1
playsound==1.2.2
playwright==1.33.0
pluggy==1.0.0
pre-commit==3.2.2
priority==2.0.0
prompt-toolkit==3.0.38
protobuf==4.22.1
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pydantic==2.5.2
pydantic_core==2.14.5
pydocstyle==6.2.3
pydub==0.25.1
pyee==9.0.4
PyExecJS==1.5.1
pyflakes==3.0.1
Pygments==2.14.0
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
pylint==2.17.0
PyMySQL==1.1.0
pyparsing==3.0.9
pypika-tortoise==0.1.6
pyreadline3==3.4.1
PySocks==1.7.1
pytest==7.3.1
pytest-mock==3.10.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-engineio==4.5.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-socketio==5.8.0
pytoolconfig==1.2.5
pytz==2022.7.1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0
pyzmq==25.1.2
qdrant-client==1.0.5
quart==0.18.4
quart-cors==0.6.0
readability-lxml==0.8.1
redis==4.6.0
referencing==0.34.0
regex==2023.3.22
requests==2.28.2
rfc3986==1.5.0
rope==1.7.0
rpds-py==0.18.0
rsa==4.9
selenium==4.8.3
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.4
sourcery==1.2.0
SQLAlchemy==1.4.47
stack-data==0.6.2
sympy==1.12
tenacity==8.2.2
tiktoken==0.3.1
tinycss2==1.2.1
tokenizers==0.15.2
toml==0.10.2
tomlkit==0.11.6
torch==2.0.1
tornado==6.3.2
tortoise-orm==0.20.0
tqdm==4.65.0
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.10.2
typing-inspect==0.8.0
typing_extensions==4.10.0
ujson==5.7.0
uritemplate==4.1.1
urllib3==1.26.15
userpath==1.8.0
virtualenv==20.21.0
wcwidth==0.2.6
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==2.3.4
whatthepatch==1.0.4
whichcraft==0.6.1
whisper==1.1.10
win32-setctime==1.1.0
wrapt==1.15.0
wsproto==1.2.0
yapf==0.32.0
yarg==0.1.9
yarl==1.8.2
zope.event==5.0
zope.interface==6.2
